Source: uresourced
Section: admin
Priority: optional
Maintainer: Xiang Zelong <xiangzelong@deepin.org>
Build-Depends: debhelper-compat (= 13),
                meson, gcc,
                pkg-config,
                libglib2.0-dev,
                systemd,
                libsystemd-dev
Standards-Version: 4.6.0
Homepage: https://gitlab.freedesktop.org/benzea/uresourced
Vcs-Browser: https://github.com/deepin-community/uresourced
Vcs-Git: https://github.com/deepin-community/uresourced.git
Rules-Requires-Root: no

Package: uresourced
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Resource management daemon for Linux
 uresourced is a resource management daemon designed for the linux
 operating system. It provides resource limits for processes and can
 dynamically manage resource allocation to improve system performance.
 This package is useful for system administrators and advanced users
 who need to fine-tune system performance and resource usage.
